.employee-dashboard {
    text-align: center;
    margin-top: 20px;
}

.welcome-message {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f5deb3; /* Updated color to match the theme */
}

.logout-button {
    margin-bottom: 20px;
}

.gate-status {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gate-status span {
    margin-right: 10px;
    font-size: 16px;
    color: #e0e0eb;
}

/* Parking Spaces Layout */
.parking-spaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Button styles */
.parking-button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.parking-button.green {
    background-color: #4CAF50; /* Green for user's parked spot */
    border: 2px solid #388E3C;
}

.parking-button.grey {
    background-color: #616161; /* Grey for all occupied or unavailable spots */
    border: 2px solid #424242;
}

.parking-button.blue {
    background-color: #1976D2; /* Blue for available spots */
    border: 2px solid #0D47A1;
}

.parking-button span {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff; /* Ensuring the text color remains white for visibility */
}
