.parking-garage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.parking-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.left-row {
    flex-direction: row;
}

.right-row {
    flex-direction: row;
}

.parking-road {
    width: 100%;
    height: 60px;
    background-color: #333;
    margin-bottom: 10px;
}

.vertical-road {
    width: 60px;
    height: 200px;
    background-color: #333;
    margin-bottom: 10px;
}

.horizontal-road {
    width: 100%;
    height: 60px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
}

.parking-button {
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 80px;
    height: 80px;
    font-size: 1.5em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.parking-button.green {
    background-color: #4CAF50;
    border: 2px solid #388E3C;
}

.parking-button.grey {
    background-color: #616161;
    border: 2px solid #424242;
}

.parking-button.blue {
    background-color: #1976D2;
    border: 2px solid #0D47A1;
}

.parking-button span {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
}

.parking-button .MuiSvgIcon-root {
    font-size: 2.5rem;
    color: #FFFFFF;
}

.parking-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.floor-select {
    margin-top: 20px;
    width: 200px;
}
