/* Manage Users Modal */
.modal-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-body {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-input {
    width: 60%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555573;
    color: #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sort-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.sort-button {
    width: 45%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #1976D2;
    color: #ffffff;
}

.sort-button:hover {
    background-color: #005eb8;
    transform: translateY(-2px);
}

.scrollable-list {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable-list::-webkit-scrollbar {
    width: 5px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #555573;
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: transparent;
}

.display-item {
    background-color: #33334d;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 100%;
    max-width: 75%;
    text-align: center;
}

.display-item span {
    font-size: 14px;
    color: #ffffff;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-footer .close-button,
.modal-footer .submit-button {
    width: 45%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: #1976D2;
    color: #ffffff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-footer .close-button:hover,
.modal-footer .submit-button:hover {
    background-color: #005eb8;
}
