/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content */
.modal-content {
    background: #1a1a2e;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 400px;
    max-width: 90%;
    text-align: center;
    z-index: 1100;
}

/* Modal Header */
.modal-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Modal Body */
.modal-body {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Scrollable List */
.scrollable-list {
    max-height: 200px; /* Height of the scrollable area */
    overflow-y: auto;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable-list::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #555573; /* Color of the scrollbar */
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: transparent; /* Transparent background */
}

/* Input Fields */
.search-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555573;
    background-color: #3c3c5e;
    color: #ffffff;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Buttons */
.sort-button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: #1976D2;
    color: #ffffff;
}

.sort-button:hover {
    background-color: #005eb8;
    transform: translateY(-2px);
}

/* Cancel and Confirm Buttons */
.modal-footer .close-button,
.modal-footer .submit-button {
    width: 80%; /* Adjust width to be more substantial */
    padding: 12px;  /* Adjusted padding for better appearance */
    border-radius: 8px;
    border: none;
    font-size: 16px;  /* Increased font size */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin: 0 auto; /* Center align the button */
}

.modal-footer .close-button {
    background-color: #d9534f;
    color: #ffffff;
}

.modal-footer .close-button:hover {
    background-color: #b71c1c;
}

.modal-footer .submit-button {
    background-color: #4CAF50;
    color: #ffffff;
}

.modal-footer .submit-button:hover {
    background-color: #388E3C;
}

/* Display Items */
.display-item {
    background-color: #33334d;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    width: 100%;
    max-width: 75%;
    text-align: center;
}

.display-item span {
    font-size: 14px;
    color: #ffffff;
}
