/* src/styles/Tooltip.css */

.tooltip {
    position: absolute;
    background-color: #29293d;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #e0e0eb;
    z-index: 1000;
    max-width: 200px;
    font-size: 14px;
}

.tooltip p {
    margin: 5px 0;
}
